Networking/Networking_infrastructure_scripts/tep.sh
/Users/clarkbrooks/Documents/GitHub/Networking/Networking_infrastructure_scripts/trainee-challenge-node-app.zip
Programming/Java Script/phonebook/node_modules
Programming/Java Script/phonebook/package-lock.json
*/node_modules
